# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
dist
build
.vite
.tauri

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Tauri
src-tauri/target

# Others
public
*.md
